{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Demo University</title>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
  <!-- <link rel="stylesheet" href="assets/css/responsive.css" /> -->
</head>

<body>
  <main>
    {% include 'header.html' %}

    <section class="abt-01" style="margin-top:-20px;>
      <div class=" container">
      <div class="row">
        <div class="col-12">
          <div class="_head_01">
            <h2>About Us</h2>
            <p>Home<i class="fal fa-angle-double-right"></i><span>About Us</span></p>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!--  ************************* About Us Starts Here ************************** -->

    <div class="about-us container-fluid">
      <div class="container">

        <div class="row natur-row no-margin w-100">
          <div class="text-part col-md-6">
            <h2>About Demo University</h2>
            <p>Demo University is a premier institution of higher learning, dedicated to providing students with a
              comprehensive and well-rounded education. Our faculty and staff are dedicated to helping students succeed
              both in and out of the classroom, offering a range of programs and activities designed to support academic
              success and personal growth. </p>
            <p>With a rich history dating back several decades, Demo University has a long-standing reputation for
              excellence in education. Our graduates are well-prepared for success in their careers, having gained
              valuable knowledge and hands-on experience through our rigorous academic programs and cutting-edge
              research opportunities. </p>
            <p>At Demo University, we believe that a university education should be accessible to all students,
              regardless
              of background or financial circumstances. That's why we offer a variety of scholarships and financial aid
              programs, designed to help make college affordable for everyone. </p>
            <p>Whether you're a first-time student or a seasoned professional looking to further your education, Demo
              University is the ideal place to start. With a supportive community of faculty, staff, and students, and a
              range of resources and opportunities available to you, you're sure to find the support and guidance you
              need to succeed. </p>
          </div>
          <div class="image-part col-md-6">
            <img src="assets/images/about.jpg" alt="">
          </div>
        </div>
      </div>
    </div>




    <section class="bg-03">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div class="counting" data-count="1000">90</div>
              <h5>TEACHERS</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div class="counting" data-count="1000">67</div>
              <h5>COURSES</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div class="counting" data-count="1000">80</div>
              <h5>LESSONS</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div class="counting" data-count="1000">100</div>
              <h5>ACTIVITIES</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-04-a">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h2>OUR TEAM</h2>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 sm-6 col-12">
            <div class="team-main">
              <div class="img">
                <img src="{% static 'assets/images/team/1.png' %}">
              </div>
              <div class="team-content">
                <h3>Team Member X</h3>
                <b>Maths teacher</b>
                <div class="social">
                  <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 sm-6 col-12">
            <div class="team-main">
              <div class="img">
                <img src="{% static 'assets/images/team/2.png' %}">
              </div>
              <div class="team-content">
                <h3>Team member 1</h3>
                <b>Science teacher</b>
                <div class="social">
                  <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 sm-6 col-12">
            <div class="team-main">
              <div class="img">
                <img src="{% static 'assets/images/team/3.png'%}">
              </div>
              <div class="team-content">
                <h3>Teacheer 1</h3>
                <b>Language teacher</b>
                <div class="social">
                  <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 sm-6 col-12">
            <div class="team-main">
              <div class="img">
                <img src="{% static 'assets/images/team/4.png' %}">
              </div>
              <div class="team-content">
                <h3>Team Member</h3>
                <b>Social teacher</b>
                <div class="social">
                  <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% include 'footer.html' %}

</body>

</html>