{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Demo University</title>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
  <!-- <link rel="stylesheet" href="assets/css/responsive.css" /> -->
</head>

<body>
  <main>
    {% include 'header.html' %}

    <section class="slider" style="margin-top:-20px;">
      <div class="slider-main">

        <div class="container custom-container">
          <div class="slider-content">
            <div class="slider-head">
              <div class="main-content">
                <h1>Discover <span>Knowledge</span> at Demo University</h1>
                (Recognized by Govt. of India u/s2(f) of the U.G.C.Act,1956)
                {% comment %}
                <p>Welcome to Demo University, a premier institution providing top-quality education for students to
                  succeed in their careers and lives. Our focus is on developing critical thinking, creativity, and
                  intellectual curiosity through a range of academic programs and courses taught by knowledgeable and
                  dedicated faculty. Explore our website to learn more about our programs, faculty, student life, and
                  resources available.</p>

                <div class="btn-01">
                  <a href="#">Contact Us</a>
                </div>
                {% endcomment %}
              </div>
            </div>
            <div class="slider-img">
              <img src="{% static 'assets/images/slider/banner-right-02.png' %}">
            </div>
          </div>
        </div>
        <div class="waveWrapper waveAnimation">
          <div class="waveWrapperInner bgTop">
            <div class="wave waveTop"></div>
          </div>
          <div class="waveWrapperInner bgMiddle">
            <div class="wave waveMiddle"></div>
          </div>
          <div class="waveWrapperInner bgBottom">
            <div class="wave waveBottom"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-01">
      <div class="container">
        <div class="col-12">
          <div class="heading">
            <h2>Why Choos Us</h2>
          </div>
        </div>
        <div class="set-wrapper">
          <div class="box">
            <div class="box-items">
              <div class="icon">
                <i class="far fa-book"></i>
              </div>
              <div class="content">
                <h3>VARITY COURSES</h3>
                <p>Experience the Diversity of Learning: Explore the Wide Range of DemoU's Courses</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="box-items">
              <div class="icon">
                <i class="far fa-tag"></i>
              </div>
              <div class="content">
                <h3>ATTRACTIVE PRICES</h3>
                <p>Accessible Quality Education: DemoU Offers Attractive Pricing on a Range of Programs and Courses.</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="box-items">
              <div class="icon">
                <i class="fal fa-calendar-star"></i>
              </div>
              <div class="content">
                <h3>EVENTS</h3>
                <p>Discover Exciting Opportunities: Join DemoU for a Calendar of Memorable Events.</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="box-items">
              <div class="icon">
                <i class="fal fa-chalkboard-teacher"></i>
              </div>
              <div class="content">
                <h3>TALENTED TEACHERS</h3>
                <p>Discover Your Full Potential: Study with DemoU's Talented and Committed Teachers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-02">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h2>OUR ACTIVITIES</h2>
            </div>
          </div>

          <div class="wrapper-bg-02">
            <div class="sub-content">
              <div class="sub-items">
                <ul>

                  <li>EXCURSIONS
                    <p>Explore the world and broaden your horizons with DemoU's excursions.</p>
                  </li>
                  <li>LANGUAGES
                    <p> Enhance your language abilities and cross-cultural understanding with DemoU's language courses.
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="sub-content card-01">
              <div class="sub-content">
                <img src="{% static 'assets/images/2.png' %}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-03">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div class="counting" data-count="1000">90</div>
              <h5>TEACHERS</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div class="counting" data-count="1000">67</div>
              <h5>COURSES</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div class="counting" data-count="1000">80</div>
              <h5>LESSONS</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div class="counting" data-count="1000">100</div>
              <h5>ACTIVITIES</h5>
            </div>
          </div>
        </div>
      </div>
    </section>



    {% include 'footer.html' %}
  </main>


</body>


</html>