{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create Registration Links</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="assets/css/responsive.css" /> -->
</head>

<body>

      {% include 'header.html' %}


<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="alert alert-success text-center" role="alert">
          <h4 class="alert-heading">Registration Successful!</h4>
          <p>Please contact the administrator for confirmation of your registration.</p>
        </div>
      </div>
    </div>
  </div>
</body>