<h2 style="padding:10px 0">Admission Procedure</h2>
<p>Students can download the admission form from the university website or collect directly from the admission
    department of the university with a prescribed fee. For all the courses the same admission form is applicable.</p>
<p>Submit the duly filled application form to the admission department of the university with following documents along
    with the course fee.</p>

<div class="col-md-12">
    <ol>
        <li>1. Copy of all mark sheets and certificates.</li>
        <li>2. Id &amp; address proof</li>
        <li>3. Migration from previous board/university.</li>
        <li>4. Four passport size photographs.</li>
    </ol>

    <span id="ContentPlaceHolder1_cr">
<strong>Credit Transfer / Lateral Entry:</strong>
<p>Lateral entry shall be allowed only in the programmes where the same is specifically mentioned. Students who are pursuing programmes from other universities can pursue their remaining part of the programme under the credit transfer scheme of the university. Students have to pay lateral/credit transfer fee.</p>
</span>
</div>

