{% load static %}



<div class="col-md-12">
<div style="width:100%;padding-bottom:20px">
<div class="wm-fancy-title"> <h2><span id="ContentPlaceHolder1_coursecategory">AGRICULTURE</span></h2> </div>

<h2 style="padding:10px 0">Programme Overview</h2>
<p><span id="ContentPlaceHolder1_content1">Agriculture: Agriculture is the art and science of cultivating the soil, growing crops and raising livestock. It includes the preparation of plant and animal products for people to use and their distribution to markets.

Agriculture provides most of the world’s food and fabrics. Cotton, wool, and leather are all agricultural products. Agriculture also provides wood for construction and paper products.

These products, as well as the agricultural methods used, may vary from one part of the world to another.</span><br /></p>
<div>
	<table class="table" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView1" style="border-style:None;border-collapse:collapse;">
		<tr>
			<th scope="col">Name Of Course</th><th scope="col">Duration</th><th scope="col">Eligibility</th>
		</tr><tr>
			<td>MASTER OF SCIENCE (AGRONOMY/HORTICULTURE)</td><td>2 Years</td><td>BACHELOR OF SCIENCE (AGRICULTURE/HORTICULTURE)</td>
		</tr><tr>
			<td>BACHELOR OF SCIENCE (AGRICULTURE)</td><td>4 Years</td><td>10+2 PCM/PCB/AGRI.</td>
		</tr>
	</table>
</div>

 <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">