{% load static %}

<div class="col-md-12">
<div style="width:100%;padding-bottom:20px">
<div class="wm-fancy-title"> <h2><span id="ContentPlaceHolder1_coursecategory">COMMERCE AND MANAGEMENT</span></h2> </div>

<h2 style="padding:10px 0">Programme Overview</h2>
<p><span id="ContentPlaceHolder1_content1">The word "Industry and Business" refers to that part of business activities which is apprehensive with the extraction, production or fabrication of products. The products which are raised, produced or processed by an industry may either be used by the ultimate consumer or by another concern for further production. If the goods produced by an industry are consumed by the final customers, these are named as 'consumer's goods' e.g. clothes. If the goods are used for further production of wealth they are called producers or capital goods.</span><br /></p>
<div>
	<table class="table" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView1" style="border-style:None;border-collapse:collapse;">
		<tr>
			<th scope="col">Name Of Course</th><th scope="col">Duration</th><th scope="col">Eligibility</th>
		</tr><tr>
			<td>MBA IN HUMAN RESOURCE MANAGEMENT</td><td>2 Years</td><td>GRADUATION IN ANY STREAM</td>
		</tr><tr>
			<td>MBA IN BANKING &amp; FINANCE</td><td>2 Years</td><td>GRADUATION IN ANY STREAM</td>
		</tr><tr>
			<td>MBA IN INSURANCE &amp; RISK MANAGEMENT</td><td>2 Years</td><td>GRADUATION IN ANY STREAM</td>
		</tr><tr>
			<td>MBA IN INTERNATIONAL BUSINESS</td><td>2 Years</td><td>GRADUATION IN ANY STREAM</td>
		</tr><tr>
			<td>MBA IN MARKETING MANAGEMENT</td><td>2 Years</td><td>GRADUATION IN ANY STREAM</td>
		</tr><tr>
			<td>MBA IN FINANCE</td><td>2 Years</td><td>GRADUATION IN ANY STREAM</td>
		</tr><tr>
			<td>BBA IN MARKETING</td><td>3 Years</td><td>10+2 IN ANY STREAM</td>
		</tr><tr>
			<td>BBA IN FINANCE</td><td>3 Years</td><td>10+2 IN ANY STREAM</td>
		</tr><tr>
			<td>BBA IN BANKING</td><td>3 Years</td><td>10+2 IN ANY STREAM</td>
		</tr><tr>
			<td>BBA IN HUMAN RESOURCE</td><td>3 Years</td><td>10+2 IN ANY STREAM</td>
		</tr><tr>
			<td>BACHELOR OF HOTEL MANAGEMENT (BHM)</td><td>4 Years</td><td>10+2 IN ANY STREAM</td>
		</tr><tr>
			<td>MASTER OF COMMERCE IN MARKETING</td><td>2 Years</td><td>B.COM/BBA/BA WIH ECO/STATISTICS/ BSC WITH ECO</td>
		</tr><tr>
			<td>MASTER OF COMMERCE IN HUMAN RESOURCE</td><td>2 Years</td><td>B.COM/BBA/BA WIH ECO/STATISTICS/ BSC WITH ECO</td>
		</tr><tr>
			<td>MASTER OF COMMERCE IN ACCOUNTING</td><td>2 Years</td><td>B.COM/BBA/BA WIH ECO/STATISTICS/ BSC WITH ECO</td>
		</tr><tr>
			<td>MASTER OF COMMERCE IN BANKING &amp; FINANCE</td><td>2 Years</td><td>B.COM/BBA/BA WIH ECO/STATISTICS/ BSC WITH ECO</td>
		</tr><tr>
			<td>BACHELOR OF COMMERCE (HONOURS) IN MARKETING</td><td>4 Years</td><td>10+2 IN COMMERCE/PCM</td>
		</tr><tr>
			<td>BACHELOR OF COMMERCE (HONOURS) IN  HUMAN RESOURCE</td><td>4 Years</td><td>10+2 IN COMMERCE/PCM</td>
		</tr><tr>
			<td>BACHELOR OF COMMERCE (HONOURS) IN ACCOUNTING</td><td>4 Years</td><td>10+2 IN COMMERCE/PCM</td>
		</tr><tr>
			<td>BACHELOR OF COMMERCE (HONOURS) IN BANKING &amp; FINANCE</td><td>4 Years</td><td>10+2 IN COMMERCE/PCM</td>
		</tr>
	</table>
</div>
</div>
 <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
