{% load static %}



<div class="col-md-12">
<div style="width:100%;padding-bottom:20px">
<div class="wm-fancy-title"> <h2><span id="ContentPlaceHolder1_coursecategory">LAW</span></h2> </div>

<h2 style="padding:10px 0">Programme Overview</h2>
<p><span id="ContentPlaceHolder1_content1">Law: The discipline and profession concerned with the customs, practices, and rules of conduct of a community that are recognized as binding by the community. Enforcement of the body of rules is through a controlling authority.</span><br /></p>
<div>

	<table class="table" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView1" style="border-style:None;border-collapse:collapse;">
		<tr>
			<th scope="col">Name Of Course</th><th scope="col">Duration</th><th scope="col">Eligibility</th>
		</tr><tr>
			<td>MASTER OF LAWS(LLM) IN CONSTITUTIONAL &amp; ADMINISTRATIVE LAW</td><td>2 Years</td><td>LLB/BA-LLB/BBA-LLB</td>
		</tr><tr>
			<td>MASTER OF LAWS(LLM) IN CORPORATE &amp; COMMERCIAL LAW</td><td>2 Years</td><td>LLB/BA-LLB/BBA-LLB</td>
		</tr><tr>
			<td>MASTER OF LAWS(LLM) IN INTELLECTUAL PROPERTY &amp; TRADE LAW</td><td>2 Years</td><td>LLB/BA-LLB/BBA-LLB</td>
		</tr><tr>
			<td>MASTER OF LAWS(LLM) IN CRIMINAL LAW</td><td>2 Years</td><td>LLB/BA-LLB/BBA-LLB</td>
		</tr><tr>
			<td>BACHELOR OF LAWS</td><td>3 Years</td><td>GRADUATION IN ANY STREAM</td>
		</tr>
	</table>
</div>


 <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">