{% load static %}




<div class="col-md-12">
<div style="width:100%;padding-bottom:20px">
<div class="wm-fancy-title"> <h2><span id="ContentPlaceHolder1_coursecategory">YOGA & NATUROPATHY</span></h2> </div>

<h2 style="padding:10px 0">Programme Overview</h2>
<p><span id="ContentPlaceHolder1_content1">Naturopathy: Naturopathy believes in the inherent healing power of nature and uses non-invasive methods of intervention to create a suitable environment to facilitate the healing of the body by itself.
Naturopathy is not just a system of medicine but a way of life based mainly on the ancient practice of the application of the simple laws of nature. It is call to “RETURN TO NATURE” and to resort to simple way of living in harmony with the self, society and environment. Naturopathy provides not only a simple practical approach to the management of disease, but a firm theoretical basis which is applicable to all the holistic medical uses.
Yoga: Yoga is not an ancient myth buried in oblivion. It is the most valuable inheritance of the present. It is the essential need of today and the culture of tomorrow.”
Yoga is the science of right living and, as such, is intended to be incorporated in daily life. It works on all aspects of the person: the physical, vital, mental, emotional, psychic and spiritual.</span><br /></p>
<div>
	<table class="table" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView1" style="border-style:None;border-collapse:collapse;">
		<tr>
			<th scope="col">Name Of Course</th><th scope="col">Duration</th><th scope="col">Eligibility</th>
		</tr><tr>
			<td>BACHELOR IN NATUROPATHY &amp; YOGA SCIENCES (BNYS)</td><td>4.6 Years</td><td>10+2 (PCB) IN SCIENCE STREAM</td>
		</tr><tr>
			<td>BACHELOR OF ARTS ( YOGA SCIENCES )</td><td>4 Years</td><td>10+2 IN ANY STREAM</td>
		</tr><tr>
			<td>MASTER OF ARTS ( YOGA SCIENCE )</td><td>2 Years</td><td>GRADUATION IN ANY STREAM</td>
		</tr>
	</table>
</div>
</div>

 <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
